.row {
    text-align: center;
}

.cat-block {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
}

.cat-avatar {
    display: inline-block;
    width: 500px;
    height: 500px;
    line-height: 130px;
    border-radius: 65px;
    text-align: center;
    margin-right: 10px;
    color: white;
    padding: 15px;
}


